.scroll-output {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
  max-width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #ffffff;
  color: #141414;
}

.scroll-output::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-output::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-output::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}